<div id="exceptions">
  <div class="pages">
    <%= link_to 'Delete Visible', { :action => 'destroy_all' },:method => :delete, :remote => true, :onclick => "ExceptionLogger.deleteAll()" %>
    <% if @exceptions.total_pages > 1 %>
      :: Pages: <strong><%= pagination_remote_links @exceptions %></strong>
    <% end %>
  </div>
  <h1>Exceptions <%= "<span>(filtered)</span>" if filtered? %> </h1>
  <table>
    <thead>
      <tr>
        <th>Exception</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @exceptions.each do |exception| %>
        <tr id="<%= dom_id(exception) %>" class="<%= cycle("eor", "") %> exception">
          <td>
            <div class="expclass"><%= link_to exception.name, {:action => "show", :id => exception}, :remote => true %></div>
            <span class="message"><%= h exception.message %></span>
          </td>
          <td class="time"><%= pretty_exception_date(exception) %></td>
          <td><%= link_to 'Delete', { :action => 'destroy', :id => exception },:method => :delete, :remote => :true , :class => "util" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @exceptions.total_pages > 1 %>
    <div class="pages pages-bottom">
      Pages: <strong><%= pagination_remote_links @exceptions %></strong>
    </div>
  <% end %>
</div> <!-- #exceptions -->
